@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--hover);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.c_cart {
  &_trigger {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0.5rem;

    i {
      font-size: 1.5rem;
    }

    &_counter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      font-size: 0.55rem;
      border-radius: 100%;
      position: absolute;
      top: -0.4rem;
      right: -0.4rem;
      background-color: var(--hover);
      color: var(--bg);

      &.pulse {
        animation: pulse 1s ease-in-out infinite;
      }

      &:hover {
        color: var(--bg);
      }
    }

    &:hover {
      border: none;
      box-shadow: none;
    }
  }

  &_no_content {
    margin-inline: auto;

    h2 {
      font-size: 1rem;
      text-align: center;
    }
  }
}
