.p_success {
  width: min(440px, 100% - 2rem);
  margin-inline: auto;
  text-align: center;

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  a {
    color: var(--color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-transform: uppercase;

    &:hover {
      color: var(--hover);
    }
  }
}
