.p_category {
  display: grid;
  max-width: 680px;
  margin-inline: auto;
  padding-inline: 1rem;

  &_heading {
    border-bottom: 2px solid var(--color);
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      max-width: 450px;
    }
  }

  &_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
}
