@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with an opacity of 0 */
  }
  100% {
    opacity: 1; /* End with an opacity of 1 */
  }
}

.c_card {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  color: var(--color);
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;

  &_image {
    max-width: 100%;
    display: block;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  &,
  &_column,
  &_row {
    display: flex;
    gap: 1rem;
  }

  &,
  &_column {
    flex: 1;
    flex-direction: column;
  }

  &_description {
    summary {
      margin-bottom: 1rem;
      cursor: pointer;

      &::marker,
      &::-webkit-details-marker {
        display: none;
        content: '';
      }
    }

    ul {
      list-style: none;
      display: grid;
      gap: 0.5rem;
    }
  }
}
