.p_home_categories {
  max-width: 680px;
  padding-inline: 1rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.p_home_categories a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  aspect-ratio: 1/1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  transition: color 0.2s linear;
}

.p_home_categories a:hover {
  color: var(--hover);
}
.p_home_categories a span {
  font-weight: 500;
}

.p_home_categories a i {
  font-size: 2.5rem;
}
